[Unit]
Description=Jamulus-jamulus_Blackcreek-Server
After=network.target

[Service]
Type=simple
User=jamulus
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
# This line below is what you want to edit according to your preferences
# removed recording switch  -- recording /tmp/jamulusrecordings
ExecStart=/usr/bin/jamulus --server --nogui --log /var/log/jamulus/jamulus_jamulus_Blackcreek.log  --serverinfo "Blackcreek;Montreal;1+" --centralserver jamulusclassical.fischvolk.de:22524   --welcomemessage "Welcome to the Blackcreek Old Time Server" --port 22131 --numchannels 20 
# end of section you might want to alter
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jamulus

[Install]
WantedBy=multi-user.target
(END)
