 [Unit]
Description=Jamulus-jamulus_Blackcreek-Server
After=network.target

[Service]
Type=simple
User=jamulus
NoNewPrivileges=true
ProtectSystem=true
ProtectHome=true
Nice=-20
IOSchedulingClass=realtime
IOSchedulingPriority=0
# This line below is what you want to edit according to your preferences
#ExecStart=/usr/local/bin/llcon-jamulus/Jamulus --server --nogui --log /var/log/jamulus/jamulus_jamulus_Blackcreek.log --recording /tmp/jamulusrecordings --serverinfo "Blackcreek;Montreal;1+" --centralserver jamulusclassical.fischvolk.de:22524   --welcomemessage "Welcome to Blackcreek" --numchannels 10 
ExecStart=/usr/bin/jamulus --server --nogui --log /var/log/jamulus/jamulus_jamulus_Blackcreek.log  --multithreading --serverinfo "MISU;Montreal;1+" --centralserver jamulusclassical.fischvolk.de:22524   --welcomemessage "Welcome to MISU Jamulus server" --port 22130 --numchannels 10 
# end of section you might want to alter
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=inherit
SyslogIdentifier=jamulus

[Install]
WantedBy=multi-user.target
